/*PRINCIPAL COLORS*/
$primary-color: #7ca982; //green white
$secundary-color: #e0eec6; //lemon white
$tertiary-color: #c2a83e; //old gold

/*FONT COLORS*/
$font-white:#f1f7ed; //mint cream
$font-dark-black: #2a2b2e;
$font-dark: #243e36; //dark green gray






